@import '../../sass/utils/_vars';

.order {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: $grid-gap-width;
	grid-row-gap: $grid-gap-width;
}

.products {
	margin-bottom: 40px;
}

@media ( max-width: 768px ) {
	.order {
		display: block;
    }
}