@import '../../../sass/utils/_vars';
.productDetail
	display: grid
	grid-template-columns: 1fr 2fr
	column-gap: $grid-gap-width * 2
	grid-row-gap: $grid-gap-width

.imgBox
	perspective: 450px

.glow
	z-index: 2
	border-radius: 8px
	width: 100%
	height: 100%
	left: 2px
	top: 2px	
	background-image: radial-gradient(circle at 50% -20%, #ffffff11, #0000000f)
	pointer-events: none

.productImg
	box-shadow: 0 1px 5px #00000009
	z-index: 1
	background-size: cover
	width: 100%
	border: 2px solid $dark-light
	border-radius: 8px
	position: relative
	transition-duration: 300ms
	transition-property: transform, box-shadow
	transition-timing-function: ease-out
	transform: rotate3d(0)

	&:hover
		transition-duration: 150ms
		box-shadow: 0 5px 20px 5px #00000056

.image
	width: 100%
	height: 100%

.rating
	position: absolute
	bottom: 4px
	transform: translateX(50%)
	right: 50%

.factoid
	margin-bottom: 40px

.title
	font-size: 88px
	line-height: 1
	font-weight: 700
	margin-bottom: 16px

.subtitle
	text-transform: uppercase
	color: $alt-on-body
	font-size: 12px
	margin-bottom: 8px

.price
	font-size: 32px
	color: $alt-on-body
	font-weight: 700
	margin-bottom: 16px

.buttonBox
	margin-bottom: 32px
