{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "rules": {
    "no-plusplus": "off",
    "eol-last": "off",
    "max-len": ["error", 150, {"ignoreUrls": true}],
    "prefer-destructuring": "off",
    "no-use-before-define": "off",
    "linebreak-style": "off",
    "camelcase": "off",
    "no-param-reassign": "off",
    "no-tabs": "off",
    "arrow-parens": "off",
    "no-confusing-arrow": "off",
    "indent": ["off"],
    "class-methods-use-this": "off",
    "no-restricted-globals": ["error", "event", "fdescribe"],
    "no-alert": "off",
    "no-new": "off",
    "import/prefer-default-export": "off",
    "one-var": "off",
    "one-var-declaration-per-line": "off",
    "no-underscore-dangle": "off",
    "no-continue": "off"
  }
  // "extends":  ["airbnb/base"]
}