@import '../../../sass/utils/_vars.sass';

.basketProductItem
	padding: 0 12px 0 0
	margin-bottom: 8px
	background-color: $dark
	border-radius: 8px
	display: flex
	position: relative

.info
	padding: 12px 0

.price, .count
	margin-bottom: 0

.price
	text-align: right
	position: absolute
	right: 12px
	bottom: 12px

.count
	position: absolute
	bottom: 12px

.img
	border-radius: 8px
	box-sizing: border-box
	border: 2px solid $body-hover
	width: 128px
	margin-right: 12px